body{
    background-color: chocolate;
}
h1{
    text-align: center;
    color: white;
}
.main{
    border: 2 px solid grey;
    background-color: white;
    width: 300px;
    height: 350px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10%; 
}
.result{
    width: 98%;
    background-color: white;
    color: black;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px ;
    font-weight: bold;
    text-align: right;
    
}
.clearBtn{
    color: white;
    background-color: red;
    width: 68px;
    margin: 2px;
    font-weight: bold;
    height: 45px;
    text-decoration: none;
    border-radius: 128px;
}

.btn{
    background-color: white;
    color: black;
    width: 68px;
    margin: 2px;
    font-weight: bold;
    height: 45px;
    border-radius: 128px;
}
.btn:hover{
    background-color: darkorchid;
    color: black;
    font-weight: bold;
}
.clearBtn:hover{
    background-color: darkorchid;
    color: black;
    font-weight: bold;
}