body{
    background-color: chocolate;
}
h1{
    text-align: center;
    color: white;
}

.container{
    border: 2 px solid black;
    background-color: white;
    width: 330px;
    height: 350px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10%; 
}
.result{
    width: 98%;
    background-color: white;
    color: black;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px ;
    font-weight: bold;
    text-align: right;

    
}
.row{
    display: inline-block;
}
.clearBtn{
    color: white;
    background-color: red;
    width: 68px;
    font-weight: bold;
    height: 45px;
    text-decoration: none;
    border-radius: 128px;
    margin-left: 10px;
  
}
.btn{
    background-color: white;
    color: black;
    width: 68px;
    margin: 2px;
    font-weight: bold;
    height: 45px;
    border-radius: 128px;
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 0px;

}
.btn:hover{
    background-color: darkorchid;
    color: black;
    font-weight: bold;
}
.clearBtn:hover{
    background-color: darkorchid;
    color: white;
    font-weight: bold;
}
@media only screen and(max-width:280px){
    body{
        background-color: mediumorchid;
    }
    container{
        background-color: lightseagreen;
        width:280px;
    } 
    
}
